*~
examples/
Makefile
*jessie*
Makefile.in
aclocal.m4
scratch/
goals/
include/po_hi_config.h
include/po_hi_config.h.in
Makefile
Makefile.in
autom4te.cache/
config.log
config.status
configure
aclocal.m4
doc/ocarina.info
doc/stamp-vti
doc/version.texi
support/mdate-sh
support/texinfo.tex
tools/Makefile.in
tools/check-symbols/Makefile.in
tools/check-symbols/examples/Makefile.in
tools/check-symbols/examples/malloc/Makefile.in
tools/check-symbols/examples/strings/Makefile.in
tools/check-symbols/src/Makefile.in
/include/stamp-h1
/share/make/Makefile.native
/support/compile
/config.log
/config.status
report/*.tex
report/*.txt
report/try*
report/auto
tests-proof/